body{
    margin: 0;
    background-color: #F6F7FA;
}

.container{
    width: 35%;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
    margin: 100px 5px 5px;
    padding: 0;
    box-shadow: 0 3px 5px 0 rgba(240, 240, 240, 0.3);
    animation: transitionIn-Y-over 0.5s;

}

td {
    text-align: center;
}

.header-text{
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 10px;

}

.btn-primary{
    background-color: #24c8ce;
    border: 1px solid #24c8ce;
    color: #fff ;
    box-shadow: 0 3px 5px 0 rgba(57,108,240,0.3);
}

.sub-text{
    font-size: 15px;
    color: rgb(138, 138, 138);
}

.form-label{
    color: rgb(44, 44, 44);
    text-align: left;
    font-size: 14px;
}
.label-td{
    text-align: left;
    padding-top: 10px;
}

.hover-link1{
    font-weight: bold;
}

.hover-link1:hover{
    opacity: 0.8;
    transition: 0.5s;

}

.login-btn{
    margin-bottom: 15px;
    width: 40%;    
    padding: 10px 25px;
    margin-top: 15px;
    border-radius: 5px;
}

.login-btn.btn-primary.btn{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}


@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        min-width: 280px;
        padding: 20px;
        font-size: 14px;
    }
    .header-text {
        font-size: 24px;
    }
    .sub-text {
        font-size: 16px;
    }
    .form-label {
        font-size: 16px;
    }
    .input-text {
        padding: 8px;
        font-size: 16px;
    }
    .login-btn {
        font-size: 16px;
    }
    .blogin-btn.btn-primary.btn{
        width:70%;
    }
    .login-btn.btn-primary-soft.btn{
        width:50%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
        min-width: 280px;
        padding: 20px;
        font-size: 14px;
    }
    .header-text {
        font-size: 24px;
    }
    .sub-text {
        font-size: 16px;
    }
    .form-label {
        font-size: 16px;
    }
    .input-text {
        padding: 8px;
        font-size: 16px;
    }
    .login-btn {
        font-size: 16px;
    }
    .login-btn.btn-primary.btn{
        width:70%;
    }
    .login-btn.btn-primary-soft.btn{
        width:50%;
    }
}

.container{
    width: 35%;
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 8px;
    margin: 100px 5px 5px;
    padding: 0;
    box-shadow: 0 3px 5px 0 rgba(240, 240, 240, 0.3);
    animation: transitionIn-Y-over 0.5s;
    }
    .login-btn.btn-primary.btn{
        width:40%;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .login-btn.btn-primary-soft.btn{
        width:30%;
    }
@media only screen and (max-width: 768px) {
    .container {
        width:90%;
        min-width: 280px;
        padding: 20px;
        font-size: 14px;
    }
    .header-text {
        font-size: 24px;
    }
    .sub-text {
        font-size: 16px;
    }
    .form-label {
        font-size: 16px;
    }
    .input-text {
        padding: 8px;
        font-size: 16px;
    }
    .login-btn {
        font-size: 16px;
    }
    .login-btn.btn-primary.btn{
        width:70%;
    }
    .login-btn.btn-primary-soft.btn{
        width:55%;
    }
}